:root {
	--ui-bg-color: #c7c7c7;
	--ui-border-color: #b0b0b0;
	--ui-bg-hover-color: #f0f0f0;
	--ui-bg-active-color: #ffffff;
	--ui-text-color: #000;


	--ui-bg-selected-color: #7e6787;
	--ui-bg-selected-hover-color: #6b4464;
	--ui-border-selected-color: #604969;
	--ui-text-selected-color: #ffffff;



	--stripe-odd-color: #e0e0e0;
	--stripe-even-color: #d6d6d6;
	--stripe-details-color: #f9f9f9;
	--stripe-hover-color: #c9c9c9;
	--stripe-details-hover-color: #cfcfcf;
}


#side-scroller{
	position: fixed;
	bottom: 20px;
	right: 19%;
}


.table-striped tbody .odd td{
	background-color: var(--stripe-odd-color);
}

.table-striped tbody .even td{
	background-color: var(--stripe-even-color);
}

.table-striped tbody .details td{
	background-color: var(--stripe-details-color);
}

.table-hover tbody tr:hover td{
	background-color: var(--stripe-hover-color);
}

.table-striped tbody .details:hover td{
	background-color: var(--stripe-details-hover-color);
}

h3.short-margin{
	margin: 16px 8px 2px !important;
}



button{
	background-color: var(--ui-bg-color);
	padding: 7px;
	border: 1px solid var(--ui-border-color);
	border-right-width: 0px;
	text-align: center;
	display: inline-block;
	transition-duration: 0.4s;
	font-size: 14px;
	color: var(--ui-text-color);
	float: left;
}

button:first-child{
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-left-width: 1px;
}

button:last-child{
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-right-width: 1px;
}

button:hover{
	background-color: var(--ui-bg-hover-color);
}

button.button-selected{
	color: var(--ui-text-selected-color);
	background-color: var(--ui-bg-selected-color);
}

button.button-selected:hover{
	background-color: var(--ui-bg-selected-hover-color);
}



.check-button label{
    margin:1px;
    background-color:var(--ui-bg-color);
    border-radius: 6px;
    overflow:auto;
    float:left;
    transition-duration: 0.4s;
    float:left;
}


.check-button label:hover {
    background-color: var(--ui-bg-hover-color);
}


.check-button label span {
    text-align:center;
	color: var(--ui-text-color);
    padding: 5px;
    border-radius: 6px;
    border: 1px solid var(--ui-border-color);
    display:block;
    transition-duration: 0.4s;
}

.check-button label input, .press-button label input{
	display: none;
}


.check-button input:checked + span {
    background-color:var(--ui-bg-selected-color);
    border-color: var(--ui-border-selected-color);
	color: var(--ui-text-selected-color);
}

.check-button:hover input:checked + span {
	background-color: var(--ui-bg-selected-hover-color);
}

table.ui{
	margin-top: 0px;
}

div.ui{
	margin-left: 10px;
}

.press-button label span {
	border-radius: 4px;
	border: 1px solid var(--ui-border-color);
	background-color: var(--ui-bg-color);
	padding: 3px;
	transition-duration: 0.4s;
}

.press-button label span:hover {
	background-color: var(--ui-bg-hover-color);
}

.press-button label span:active {
	background-color: var(--ui-bg-active-color);
}

