
.table-striped tbody .odd td{
	background-color: #e0e0e0;
}

.table-striped tbody .even td{
	background-color: #d6d6d6;
}

.table-striped tbody .details td{
	background-color: #f9f9f9;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #c9c9c9;
}
